<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<ul>

    {% for text in code %}
        <li>
            {{ text.code_text }}
        </li>
    {% endfor %}
</ul>
</body>
</html>